@{
	ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is an ASP.NET web app hosted in Microsoft Azure. When posting the order data, it sends it as an object through an Azure Service Bus. The Service Bus (a type of message queue) transports the object to the API Service Worker, also hosted in Azure. From there, the API Service Worker pushes the data into an Amazon Aurora database, hosted in AWS.</p>
<hr />

<div class="row">
	<div class="col-md-6">
		<p>All the source for this web application can be found on GitHub.</p>
		<p><a href="https://github.com/LordCheese/cs401-200268705" target="_blank" class="btn btn-default">Repo &raquo;</a></p>
	</div>
	<div class="col-md-6">
		<p>Research done has been collected on my website's blog.</p>
		<p><a href="http://blog.dusyk.ca" target="_blank" class="btn btn-default">Blog &raquo;</a></p>
	</div>
</div>