@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>CS401 Order App</h1>
	<p class="lead">You can place and view orders for the system to process, sent to an Amazon Aurora database via an Azure Service Bus</p>
	<p>@Html.ActionLink("Place an order!", "Create", "Orders", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Customer List</h2>
		<p>
			You can view the list of customers in the systems @Html.ActionLink("here", "Index", "Customers")
		</p>
	</div>
	<div class="col-md-4">
		<h2>Order List</h2>
		<p>You can view the list of placed orders @Html.ActionLink("here", "Index", "Orders")</p>
	</div>
	<div class="col-md-4">
		<h2>GitHub</h2>
		<p>All of the code for this web application can be viewed on my GitHub repository.</p>
		<p><a class="btn btn-default" href="https://github.com/LordCheese/cs401-chrisdusyk" target="_blank">Repo &raquo;</a></p>
	</div>
</div>