@model AzureWebAppComponent.Models.OrderViewViewModel

@{
	ViewBag.Title = "New Order";
}


@section Scripts
{
	<link href="~/Content/css/select2.css" type="text/css" rel="stylesheet" />
	<script src="~/Scripts/jquery-2.2.2.js"></script>
	<script src="~/Scripts/select2.js"></script>

	<script>
		jQuery(document).ready(function ($) {
			$('#customer-list').select2();
			$('#product-list').select2();
		});
	</script>
}

<h2>New Order</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<div class="form-group">
			<div class="control-label col-md-2">
				Customer:
			</div>
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.CustomerID, (SelectList)ViewBag.CustomerSelection, new { @class = "form-control", @id = "customer-list" })
			</div>
		</div>
		<div class="form-group">
			<div class="control-label col-md-2">
				Products:
			</div>
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Products, (SelectList)ViewBag.ProductSelection, new { @class = "form-control", @id = "product-list", @multiple = "multiple" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Sumbit Order" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", "Orders", null, new { @class = "btn btn-default" })
			</div>
		</div>
	</div>
}